body{
    padding: 1em;

}

.container{
    flex-direction: row;
}

.card {
    flex-direction: row;
    background-color: #F5F7F8;
    /* border-color: #F5F7F8; */
    border-color: rgba(128, 128, 128, 0.141);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}


.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    height: auto;
}

.upload-form {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    /* background-color: white; */
}

.change-password-form {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    text-align: left;
    /* background-color: white; */
}




