<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <img [width]="180" [height]="40" src="B.jpg"/>
    <!-- <h3>NLAC Portal</h3> -->
</mat-toolbar> 

<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()"> 
        <app-sidenav [collapsed]="collapsed()" />
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>